<!doctype html>
<html lang="en">
<head>
    <title>情感分析</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/vendor/bootstrap.lumen.min.css">
    <link rel="stylesheet" href="static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="static/app.js"></script>
</head>
<body>
<div class="container">
    <div>
        <div>
            <h1 align="center">情感分析</h1>
        </div>
    </div>
    <br><br>
    <div class="index">
        <h1 align="center" >训练结果上传成功！</h1>
    </div>
    <div >
            <a class="btn btn-info btn-lg" href="http://127.0.0.1:5000/">返回主页</a>
    </div>
</div>
</body>
</html>
