<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基于深度学习的文本情感分析</title>
</head>
<body>

</body>
<script type=text/javascript src="{{
  url_for('static', filename='jquery-3.1.1.js') }}">
</script>
<script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>
<script type=text/javascript>
  $(function() {
    function submit_form(e) {
        $.getJSON($SCRIPT_ROOT + '/predict', {
            trainStr: $('input[name="q"]').val()
        },
        function(data) {
            $('#train_result').text(data.result);
        });
    };
    // 绑定click事件
    $('#train').bind('click', submit_form);
});
</script>
<h1>文本情感分析</h1>
<p><a><input type="text" name="q"></a>
    <p><input type="button" id="train" value="分析"></p>
<p><span id=train_result>?</span></p>
</html>